<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Bug Tracker</title>
      <!-- 
      <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap-datepicker/5.0.1/css/bootstrap-datepicker.css}" />
      <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap-datepicker/5.0.1/css/bootstrap-datepicker.standalone.css}" />
         
         -->
      <link th:rel="stylesheet"
         th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}" />
         
      <script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
      <script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
      
   </head>
   
   <body>
      <div  class="container">
         <h1>Bug Tracking System</h1>
         
         <!--  Adding Button  -->
         <a th:href="@{/bug-tracker/showFormForAdd}"
         	class="btn btn-outline-primary m-3"> Add New Bug</a>
         	
         	
         <table class="table table-striped">
         	<thead>
	         	<tr>
	               
	               <th scope="col">Type</th>
	               <th scope="col">Issued Date</th>
	               <th scope="col">Created By</th>
	               <th scope="col">Status</th>
	               <th scope="col">Description</th>
	               <th scope="col">Tips</th>
	               <th scope="col">Solved By</th>
	               <th scope="col">Action</th>
	            </tr>
         	</thead>
         	
         	<tbody>
         		<tr th:each="bug : ${bugs}">
         		
	               <td th:text="${bug.type}" ></td>
	               <td th:text="${#dates.format(bug.issuedOn, 'MM-dd-yyyy')}" ></td>
	               <td th:text="${bug.createdBy}" ></td>
	               <td th:text="${bug.status}" ></td>
	               <td th:text="${bug.description}" ></td>
	               <td th:text="${bug.tips}" ></td>
	               <td th:text="${bug.solvedBy}" ></td>
	              
	               <td>
	               	 <!-- Add Update Button/Link  -->
		               	<a th:href="@{/bug-tracker/showFormForUpdate(bugId=${bug.id} )}" 
		               		class="btn btn-outline-info btn-sm">
		               		Update
		               	</a>
		               	 <!-- Add Delete Button/Link  -->
		               	<a th:href="@{/bug-tracker/deleteBug(bugId=${bug.id} )}" 
		               		class="btn btn-outline-danger btn-sm"
		               		onclick="if (!(confirm('Are you sure to delete this bug?'))) return false">
		               		Delete
		               	</a>
		               	
	               	</td>
	               
	           	 </tr>
         	</tbody>
            
            
            
         </table>
      </div>
      
   </body>
</html>